<% layout('layouts/boilerplate') -%>
    <h1>Welcome to YelpCamp</h1>
    <p>A place where you can buy or rent a campground for your fun activties</p>

    <h2>description</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt reprehenderit 
        laboriosam, cum,laborum unde nesciunt recusandae qui est nisi enim molestias 
        voluptatem culpa impedit autem placeat? Quia eos deserunt repellendus.
    </p>

    <h2>pricing details</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt reprehenderit 
        laboriosam, cum,laborum unde nesciunt recusandae qui est nisi enim molestias 
        voluptatem culpa impedit autem placeat? Quia eos deserunt repellendus.
    </p>
    <h2>Location descriptions</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt reprehenderit 
        laboriosam, cum,laborum unde nesciunt recusandae qui est nisi enim molestias 
        voluptatem culpa impedit autem placeat? Quia eos deserunt repellendus.

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt reprehenderit 
        laboriosam, cum,laborum unde nesciunt recusandae qui est nisi enim molestias 
        voluptatem culpa impedit autem placeat? Quia eos deserunt repellendus.
    </p>
