<% layout('layouts/boilerplate') -%>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campgrounds[title]" value="<%= campground.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campgrounds[location]" value="<%= campground.location %>"">
        </div>
        <button>Save Campground</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %>" class="text-decoration-none">Go Back</a>
    </footer>
